<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/profilestyle.css"
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile|NORRATE</title>
</head>
<body>
      <div>

      </div>

      <div id="topbar">
        <p><a href="./profile.html">Profile</a></p>
        <p><a href="./change_password.html">Change Password</a></p>
      </div>

      <div id="image">
        <img src="./profileicon.jpg"/>
      </div>
      <div id="yournote">
        <a href="./notes.html">Your Notes</a>
      </div>
      


    <footer class="container">
          <div>
              <p>NORRATE : NOTE MANAGEMENT APP</p>
          </div>
          <div>
              <p style="font-size: 2em; text-align: center;">G63</p>
              <p style="font-size:small; text-align: center;">MOTO</p>
          </div>
          <div>
              <p>By Khushi Lakra (Team Leader)    CSE(3RD semester)</p>
              <p>   Gyanvir Singh                 CSE(3RD semester)</p>
              <p>   Himanshu Bansal               CSE(3RD semester)</p>
          </div>
    </footer>
</body>
</html>


